TTS==0.22.0
soundfile
ollama
triton-windows
sentencepiece
imageio
imageio-ffmpeg
https://github.com/huggingface/diffusers.git
--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio
accelerate
torchao
